{% load staticfiles %}
<pageheader pagename="Companies Management" subtitle="Companies Management"></pageheader>
<div ng-controller="companiesManagmentCtrl" id="companiesManagmentCtrl">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">dashboard of {{ currentCompanyName }}
                        {#                    <button class="btn btn-sm btn-primary fa fa-plus pull-right"#}
                        {#                            ng-click="CreateNewCompany()"#}
                        {#                            style="margin-top: -6px;"#}
                        {#                            >#}
                        {##}
                        {#                    </button>#}
                    </h3>

                </div>
                <div class="panel-body fit-height" style="padding: 10px 5px 0 5px;">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="tiles blue m-b-10">
                                <div class="tiles-body">
                                    <div class="controller"><a href="javascript:;" class="reload"></a> <a
                                            href="javascript:;"
                                            class="remove"></a>
                                    </div>
                                    <div class="tiles-title text-black">OVERALL VISITS</div>
                                    <div class="widget-stats">
                                        <div class="wrapper transparent">
                                            <span class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span>
                                        </div>
                                    </div>
                                    <div class="widget-stats">
                                        <div class="wrapper transparent">
                                            <span class="item-title">Today's</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="551"
                                                data-animation-duration="700">551</span>
                                        </div>
                                    </div>
                                    <div class="widget-stats ">
                                        <div class="wrapper last">
                                            <span class="item-title">Monthly</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="1450" data-animation-duration="700">1,450</span>
                                        </div>
                                    </div>
                                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                                        <div class="progress-bar progress-bar-white animate-progress-bar"
                                             data-percentage="54%"
                                             style="width: 54%;"></div>
                                    </div>
                                    <div class="description"><span class="text-white mini-description ">4% higher <span
                                            class="blend">than last month</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="tiles green m-b-10">
                                <div class="tiles-body">
                                    <div class="controller"><a href="javascript:;" class="reload"></a> <a
                                            href="javascript:;"
                                            class="remove"></a>
                                    </div>
                                    <div class="tiles-title text-black">OVERALL VISITS</div>
                                    <div class="widget-stats">
                                        <div class="wrapper transparent">
                                            <span class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span>
                                        </div>
                                    </div>
                                    <div class="widget-stats">
                                        <div class="wrapper transparent">
                                            <span class="item-title">Today's</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="551"
                                                data-animation-duration="700">551</span>
                                        </div>
                                    </div>
                                    <div class="widget-stats ">
                                        <div class="wrapper last">
                                            <span class="item-title">Monthly</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="1450" data-animation-duration="700">1,450</span>
                                        </div>
                                    </div>
                                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                                        <div class="progress-bar progress-bar-white animate-progress-bar"
                                             data-percentage="54%"
                                             style="width: 54%;"></div>
                                    </div>
                                    <div class="description"><span class="text-white mini-description ">4% higher <span
                                            class="blend">than last month</span></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="tiles black m-b-10">
                                <div class="tiles-body">
                                    <div class="controller"><a href="javascript:;" class="reload"></a> <a
                                            href="javascript:;"
                                            class="remove"></a>
                                    </div>
                                    <div class="tiles-title text-black">OVERALL VISITS</div>
                                    <div class="widget-stats">
                                        <div class="wrapper transparent">
                                            <span class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span> <span
                                                class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span> <span
                                                class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span> <span
                                                class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span> <span
                                                class="item-title">Overall Visits</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="15489" data-=""
                                                animation-duration="700">15,489</span>
                                        </div>
                                    </div>
                                    <div class="widget-stats">
                                        <div class="wrapper transparent">
                                            <span class="item-title">Today's</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="551"
                                                data-animation-duration="700">551</span>
                                        </div>
                                    </div>
                                    <div class="widget-stats ">
                                        <div class="wrapper last">
                                            <span class="item-title">Monthly</span> <span
                                                class="item-count animate-number semi-bold"
                                                data-value="1450" data-animation-duration="700">1,450</span>
                                        </div>
                                    </div>
                                    <div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                                        <div class="progress-bar progress-bar-white animate-progress-bar"
                                             data-percentage="54%"
                                             style="width: 54%;"></div>
                                    </div>
                                    <div class="description"><span class="text-white mini-description ">4% higher <span
                                            class="blend">than last month</span></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tiles blue m-b-10">
                                        <div class="tiles-body">
                                            <div class="controller"><a href="javascript:;" class="reload"></a> <a
                                                    href="javascript:;"
                                                    class="remove"></a></div>
                                            <div class="tiles-title text-black">OVERALL VISITS</div>
                                            <div class="widget-stats">
                                                <div class="wrapper transparent">
                                                    <span class="item-title">Overall Visits</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="15489" data-=""
                                                        animation-duration="700">15,489</span>
                                                </div>
                                            </div>
                                            <div class="widget-stats">
                                                <div class="wrapper transparent">
                                                    <span class="item-title">Today's</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="551"
                                                        data-animation-duration="700">551</span>
                                                </div>
                                            </div>
                                            <div class="widget-stats ">
                                                <div class="wrapper last">
                                                    <span class="item-title">Monthly</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="1450" data-animation-duration="700">1,450</span>
                                                </div>
                                            </div>
                                            <div class="progress transparent progress-small no-radius m-t-20"
                                                 style="width:90%">
                                                <div class="progress-bar progress-bar-white animate-progress-bar"
                                                     data-percentage="54%"
                                                     style="width: 54%;"></div>
                                            </div>
                                            <div class="description"><span class="text-white mini-description ">4% higher <span
                                                    class="blend">than last month</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="tiles green m-b-10">
                                        <div class="tiles-body">
                                            <div class="controller"><a href="javascript:;" class="reload"></a> <a
                                                    href="javascript:;"
                                                    class="remove"></a></div>
                                            <div class="tiles-title text-black">OVERALL VISITS</div>
                                            <div class="widget-stats">
                                                <div class="wrapper transparent">
                                                    <span class="item-title">Overall Visits</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="15489" data-=""
                                                        animation-duration="700">15,489</span>
                                                </div>
                                            </div>
                                            <div class="widget-stats">
                                                <div class="wrapper transparent">
                                                    <span class="item-title">Today's</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="551"
                                                        data-animation-duration="700">551</span>
                                                </div>
                                            </div>
                                            <div class="widget-stats ">
                                                <div class="wrapper last">
                                                    <span class="item-title">Monthly</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="1450" data-animation-duration="700">1,450</span>
                                                </div>
                                            </div>
                                            <div class="progress transparent progress-small no-radius m-t-20"
                                                 style="width:90%">
                                                <div class="progress-bar progress-bar-white animate-progress-bar"
                                                     data-percentage="54%"
                                                     style="width: 54%;"></div>
                                            </div>
                                            <div class="description"><span class="text-white mini-description ">4% higher <span
                                                    class="blend">than last month</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="tiles blue m-b-10">
                                        <div class="tiles-body">
                                            <div class="controller"><a href="javascript:;" class="reload"></a> <a
                                                    href="javascript:;"
                                                    class="remove"></a></div>
                                            <div class="tiles-title text-black">OVERALL VISITS</div>
                                            <div class="widget-stats">
                                                <div class="wrapper transparent">
                                                    <span class="item-title">Overall Visits</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="15489" data-=""
                                                        animation-duration="700">15,489</span>
                                                </div>
                                            </div>
                                            <div class="widget-stats">
                                                <div class="wrapper transparent">
                                                    <span class="item-title">Today's</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="551"
                                                        data-animation-duration="700">551</span>
                                                </div>
                                            </div>
                                            <div class="widget-stats ">
                                                <div class="wrapper last">
                                                    <span class="item-title">Monthly</span> <span
                                                        class="item-count animate-number semi-bold"
                                                        data-value="1450" data-animation-duration="700">1,450</span>
                                                </div>
                                            </div>
                                            <div class="progress transparent progress-small no-radius m-t-20"
                                                 style="width:90%">
                                                <div class="progress-bar progress-bar-white animate-progress-bar"
                                                     data-percentage="54%"
                                                     style="width: 54%;"></div>
                                            </div>
                                            <div class="description"><span class="text-white mini-description ">4% higher <span
                                                    class="blend">than last month</span></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="company-list" class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Companies
                        <button class="btn btn-sm btn-primary fa fa-plus pull-right"
                                ng-click="CreateNewCompany()"
                                style="margin-top: -6px;">
                        </button>
                    </h3>
                </div>
                <div class="panel-body fit-height" style="padding: 10px 7px 0 7px;">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                              <th>
                                  <div class="btn-group btn-group-xs pull-right">
                        <button type="button" class="btn btn-xs btn-default fa fa-chevron-left"
                                ng-class="{'disabled': !Companies.previous}"
                                ng-click="PageTo(Companies.previous)"></button>
                        <button type="button" class="btn btn-xs btn-default disabled">
                            // 'total' | translate //://Companies.count//
                        </button>

                        <button type="button" class="btn btn-xs btn-default fa fa-chevron-right"
                                ng-class="{'disabled': !Companies.next}" ng-click="PageTo(Companies.next)"></button>
                    </div>
                              </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in Companies.results track by $index" style="cursor: pointer;">
                            <td ui-sref="company.profile({ 'companyid': item.id })">// item.name //</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <div class="btn-group btn-group-xs ">
                        <button type="button" class="btn btn-xs btn-default fa fa-chevron-left"
                                ng-class="{'disabled': !Companies.previous}"
                                ng-click="PageTo(Companies.previous)"></button>
                        <button type="button" class="btn btn-xs btn-default disabled">

                            // 'total' | translate //://Companies.count//
                        </button>

                        <button type="button" class="btn btn-xs btn-default fa fa-chevron-right"
                                ng-class="{'disabled': !Companies.next}" ng-click="PageTo(Companies.next)"></button>
                    </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#toggle-onclick").click(function () {
            $("#toggle-onclick").toggleClass(' fa-arrow-right');
            $("#company-list").animate({width: 'toggle'}, 500);
        });
        $('.fit-height').css('height', window.innerHeight - 120 + 'px').css('overflow-y', 'scroll').css('overflow-x', 'hidden');
        $('#body-container').css('height', window.innerHeight - 49 + 'px').css('overflow', 'auto');
    });

</script>
<style>
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
    }

    .tiles.default {
        background-color: #2F1557;
    }

    .tiles.blue {
        background-color: #418bca;
    }

    .tiles.black {
        background-color: #22262e;
    }

    .tiles.green {
        background-color: #16a085;
    }

    .tiles.red {
        background-color: #d9544f;
    }

    .tiles.grey {
        background-color: #3f4e62;
    }

    .tiles {
        background-color: #bcbcbc;
        color: #ffffff;
        position: relative;
    }

    .m-b-10 {
        margin-bottom: 10px;
    }

    .tiles .tiles-body {
        padding: 19px 18px 15px 24px;
    }

    .tiles .controller {
        position: relative;
        display: inline-block;
        float: right;
    }

    .tiles .tiles-title {
        font-size: 10.5px;
        letter-spacing: 0.5px;
        font-weight: 600;
    }

    .text-black {
        color: #1b1e24 !important;
    }

    .widget-stats {
        padding-left: 0;
        display: inline-block;
    }

    .widget-stats .wrapper.transparent {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }

    .widget-stats .wrapper {
        margin: 5px 0 5px 0;
        border-right: 1px solid #363a41;
        margin-right: 7px;
        padding-right: 7px;
    }

    .widget-stats .item-title {
        font-size: 12px;
    }

    .widget-stats .item-count {
        font-size: 15px;
        color: #ffffff;
        display: block;
        font-weight: bold;
    }

    .tiles .progress {
        width: 70%;
        margin-bottom: 15px;
    }

    .progress.progress-small {
        height: 4px;
    }

    .progress.transparent {
        background-color: rgba(0, 0, 0, 0.28);
    }

    .progress.no-radius {
        border-radius: 0px;
    }

    .progress {
        height: 12px;
        background-color: #e9ecee;
        background-image: none;
        box-shadow: none;
        filter: none;
    }

    .m-t-20 {
        margin-top: 20px;
    }

    .tiles > .tiles-body > .description {
        font-size: 12px;
        display: block;
        color: #ffffff;
        display: table-cell;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
    }

    #toggle-onclick {
        top: 50%;
        position: absolute;
        width: auto;
        font-size: 30px;
        margin-left: -35px;
        -webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.88);
        -moz-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.88);
        box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 0.88);
    }

    .div-companies-list {
        padding: 6px;
        vertical-align: middle;
        text-align: center;
    }

    #tbl_companies_list {
        width: 100%;
    }

    #div-companies-list:hover {
        background-color: #a0a0a0;
    }

    #tbl_companies_list td {
        text-align: right;
        vertical-align: middle;
        color: #004276;
    }

    p small a:hover {
        color: #003147;
        font-weight: bold;
    }

    .divContainers {
        display: none;
    }

    #divWikiCompany {
        display: block;
    }

</style>

