<div ng-controller="CompanySecretaraitsCtrl">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">//'Secretariats'//
                    <div class="panel-control pull-right"><a class="panelButton"><i class="fa fa-refresh"></i></a> <a
                            class="panelButton"><i class="fa fa-minus"></i></a> <a class="panelButton"><i
                            class="fa fa-remove"></i></a></div>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <td rowspan="2">//'Name' | translate//</td>
                        <td colspan="3">//'Numbering Format' | translate//</td>
                        <td colspan="3">//'Latest Numbers' | translate//</td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td>//'Inside' | translate//</td>
                        <td>//'Exports' | translate//</td>
                        <td>//'Imports' | translate//</td>
                        <td>//'Inside' | translate//</td>
                        <td>//'Exports' | translate//</td>
                        <td>//'Imports' | translate//</td>

                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="item in DabirkhanehList.results">
                        <td><input ng-model="name" type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="dakheli_letters_format"  type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="sadereh_letters_format"  type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="varede_letters_format"  type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="dakheli_last_id"  type="number" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="sadere_last_id"  type="number" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="varede_last_id"  type="number" class="form-control"></td>
                        <td>dd</td>
                    </tr>
                    <tr>
                        <td><input ng-model="newSec.name" type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="newSec.dakheli_letters_format"  type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="newSec.sadereh_letters_format"  type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="newSec.varede_letters_format"  type="text" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="newSec.dakheli_last_id"  type="number" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="newSec.sadere_last_id"  type="number" class="form-control"></td>
                        <td><input  style="direction: ltr" ng-model="newSec.varede_last_id"  type="number" class="form-control"></td>
                        <td>dd</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="text-center">
                            <button class="btn btn-default">Add</button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

