<div id="parallel-setup-div" style="display: none; ">
            <div class="panel panel-default" style="overflow-y: scroll;max-height: 550px;padding-left: 0;">

                <div class="panel-heading">
                    <h3 class="panel-title ">//lastSelected.businessObject.name//'s options
                <button style="margin-top:-6px;" class="btn btn-sm btn-danger fa fa-times pull-right"
                        ng-click="cancelSetupParallel()"></button>
                <button style="margin-top:-6px;" class="btn btn-sm btn-warning fa fa-refresh pull-right"
                        ng-click="resetForm()"></button>
                <button style="margin-top:-6px;" class="btn btn-sm btn-success fa fa-save pull-right"
                        ng-click="saveSetupParallel()"></button>
            </h3>
                </div>
                <div class="panel-body">

                    <label for="convdive">converging / diverging</label><select ng-model="properties.convdive"
                                                                                name="convdive" id="convdive">
                    <option value="">undefined</option>
                    <option value="Converging">converging</option>
                    <option value="Diverging">diverging</option>
                </select>

                </div>
            </div>

        </div>