<div ng-controller="CompanySecretaraitsCtrl" class="fit-height">


    <table class="table table-condensed table-bordered table-striped">
        <thead class="text-center center">
        <tr>
            <th rowspan="2">//'Secratrait Name' | translate//</th>
            <th colspan="3">//'Formats' | translate//</th>
            <th colspan="3">//'Latest Numbers' | translate//</th>
            <th rowspan="2"></td>
        </tr>
        <tr>
            <th>//'Internal' | translate//</th>
            <th>//'Export' | translate//</th>
            <th>//'Import' | translate//</th>
            <th>//'Internae' | translate//</th>
            <th>//'Export' | translate//</th>
            <th>//'Import' | translate//</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="item in DabirkhanehList">
            <td><input type="text" class="form-control text-name underline" ng-model="item.name"></td>
            <td><input type="text" class="form-control text-formulla underline" dir="ltr"
                       ng-model="item.dakheli_letters_format" style="max-width: 80px;"></td>
            <td><input type="text" class="form-control text-formulla underline" dir="ltr"
                       ng-model="item.sadereh_letters_format" style="max-width: 80px;"></td>
            <td><input type="text" class="form-control text-formulla underline" dir="ltr"
                       ng-model="item.varede_letters_format" style="max-width: 80px;"></td>
            <td><input type="number" class="form-control text-no underline" dir="ltr" ng-model="item.dakheli_last_id" style="max-width: 50px;">
            </td>
            <td><input type="number" class="form-control text-no underline" dir="ltr" ng-model="item.sadere_last_id" style="max-width: 50px;">
            </td>
            <td><input type="number" class="form-control text-no underline" dir="ltr" ng-model="item.varede_last_id" style="max-width: 50px;">
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteDabir(item,$index)">حذف</button>
                <button class="btn btn-success" ng-click="addUpdateDabir(item,$index)">ثبت</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8" style="text-align: center">
                <button class="btn btn-primary" ng-click="addDabir(DabirkhanehList)"> //'Add New' | translate//
                </button>
            </td>
        </tr>
        </tfoot>
    </table>

</div>

