<div id="usertask-setup-div" style="display:none;">
    <div style="margin-right: -6px;" class="panel panel-default col-md-9">

        <div class="panel-heading">
            <h3 class="panel-title ">//lastSelected.businessObject.name//'s options
                <button style="margin-top:-6px;" class="btn btn-sm btn-danger fa fa-times pull-right"
                        ng-click="cancelSetupUserTask()"></button>
                <button style="margin-top:-6px;" class="btn btn-sm btn-warning fa fa-refresh pull-right"
                        ng-click="resetForm()"></button>
                <button style="margin-top:-6px;" class="btn btn-sm btn-success fa fa-save pull-right"
                        ng-click="saveSetupUserTask()"></button>
            </h3>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="pos-select">assign pos<select class="form-control" name="pos-select" id="pos-select"
                                                                  ng-model="chartSelected"
                                                                  ng-options="chart.id as chart.title for chart in charts.results">
                            <option value="" selected label="select position...">select position...</option>

                        </select></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">


                        <label for="user-select">assign user<select class="form-control" name="user-select"
                                                                    id="user-select"
                                                                    ng-model="userSelected"
                                                                    ng-options="user.id as user.profileName for user in users.results">
                            <option value="" selected label="select user...">select user...</option>


                        </select></label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"><label for="manual-is-for">isForCompensation</label>
                        <br/>

                        <div class="onoffswitch">
                            <input type="checkbox" id="manual-is-for" name="manual-is-for"
                                   ng-model="activeElement.isForCompensation" class="onoffswitch-checkbox">
                            <label class="onoffswitch-label" for="manual-is-for">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span> </label>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Create normal bootstrap form element -->
            <div class="row">
                <form class="form-horizontal">
                    <!-- Embed the schema editor on the form -->
                    <div fg-edit fg-schema="form.schema"></div>
                </form>
            </div>
        </div>
    </div>

<div class="panel panel-default col-md-3" style="overflow-y: scroll;max-height: 550px;padding-left: 0;">

    <div class="panel-heading">
        <h3 class="panel-title">Form Objects
        </h3>
    </div>
    <div class="panel-body">

        <div fg-edit-palette></div>
    </div>
</div>

</div>