<div class="panel panel-success" id="" style="display: none;">
    <div class="panel-heading">
        <h3 class="panel-title">


        </h3>
    </div>

    <div class="panel-body">
        <form class="ng-pristine ng-valid">

            <div class="form-group">
                <label for="">


                </label>
                <input type="text"
                       class="form-control underline"
                       id=""
                       ng-model=""
                       placeholder="">
            </div>



            <button value="default action" class="btn btn-danger fa fa-times pull-right" ng-click="CancelProduction()"></button>

            <button value="default action" class="btn btn-success fa fa-save pull-right" ng-click="SaveProduction()"></button>


        </form>
    </div>


</div>



