<div class="conter-wrapper" id="sidebarDiv"
     style="left:0px;right:0px;top:0px;bottom:0px;position:absolute; border-radius: 0px;">
    <div class="inbox-container sidenav-outer"
         style="display: block!important; width: 200px; top: 0px;bottom: 0px;position: absolute; border-radius:0px;">
        <div class="col email-options">
            <div class="padding-15">
                {% include 'letter/InboxSidebar.html' %}
            </div>
        </div>


        <div ui-view class="sidenav-outer" class="text-wrapper bg-white" style="right: 200px;" ></div>


    </div>

</div>


