        <li class="activeli">
            <a ui-sref="inbox" href="#/dashboard/mail/inbox">
                <span class="title"> &nbsp; //"Inbox"|translate//</span>
                <span class="pull-left"><small><strong>10</strong></small></span>
            </a>
        </li>
        <li>
            <a ui-sref="inbox" href="#/dashboard/mail/inbox">
                <span class="title"> &nbsp; //"Sent"|translate//</span>
                <span class="pull-left">10</span>
            </a>
        </li>
        <li>
            <a ui-sref="inbox" href="#/dashboard/mail/inbox">
                <span class="title"> &nbsp; //"Draft"|translate//</span>
                <span class="pull-left">10</span>
            </a>
        </li>
        <li>
            <a ui-sref="inbox" href="#/dashboard/mail/inbox">
                <span class="title"> &nbsp; //"Automate"|translate//</span>
                <span class="pull-left">10</span>
            </a>
        </li>
        <li>
            <a ui-sref="inbox" href="#/dashboard/mail/inbox">
                <span class="title"> &nbsp; //"Archive"|translate//</span>
                <span class="pull-left">10</span>
            </a>
        </li>
        <li>
            <a ui-sref="inbox" href="#/dashboard/mail/inbox">
                <span class="title"> &nbsp; //"Trash"|translate//</span>
                <span class="pull-left">10</span>
            </a>
        </li>
