<div class="form-group {{ style.cssclass }} {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label class="sr-only">{{ field.label }}</label>
    {% endif %}
    {% for key, text in field.choices.items %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="{{ field.name }}" value="{{ key }}" {% if key in field.value %}checked{% endif %}>
            {{ text }}
        </label>
    </div>
    {% endfor %}
</div>


    <select multiple {{ field.choices|yesno:",disabled" }} class="form-control" name="{{ field.name }}"
            {% if style.ngmodel %}ng-model="{{ style.ngmodel }}"{% endif %}>
{% for key, text in field.choices.items %}
            <option value="{{ key }}" {% if key in field.value %}selected{% endif %}>{{ text }}</option>
        {% empty %}
            <option>{{ no_items }}</option>
        {% endfor %}

    </select>
        <div class="alert alert-warning alert-dismissable" role="alert" ng-repeat="(key,val) in errors"
             ng-if="key == '{{ field.name }}'">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">
       ×
   </span>
            </button>
            <p ng-repeat="a in val">//a//</p></div>
</div>
