<div class="form-group {{ style.cssclass }} {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label class="" for="{{ field.name }}">{{ field.label }}</label>
    {% endif %}
        <input name="{{ field.name }}" type="password" class="form-control"
               {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
               {% if field.value %} value="//{{ style.ngmodel }}//"{% endif %}
               {% if style.ngmodel %}ng-model="{{ style.ngmodel }}"{% endif %}>
        <div class="alert alert-warning alert-dismissable" role="alert" ng-repeat="(key,val) in errors"
             ng-if="key == '{{ field.name }}'">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">
       ×
   </span>
            </button>
            <p ng-repeat="a in val">//a//</p></div>
</div>

