<form >

    <div class="modal-body" >

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            //'persons'|translate//

                        </h3>
                    </div>

                    <div class="panel-body">










                    </div>


                </div>


    </div>
    <div class="modal-footer center clearfix">
        <button data-ng-click="$dismiss()" type="button" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" data-ng-disabled="image == null || image == '' || image == 'img/posts/default.svg'"
                class="btn btn-primary pull-right">Insert Image
        </button>
        <button type="button" data-ngf-select data-ngf-change="upload()" data-ng-model="files" data-ngf-multiple="false"
                class="btn btn-primary pull-right"><span class="glyphicon glyphicon-picture mR5"></span>Upload Image
        </button>
    </div>
</form>