<form data-ng-submit="insert()">
    <div class="modal-header">
        <div class="col-md-10">
            <h4 class="modal-title"><span class="glyphicon glyphicon-picture"></span> Upload Image</h4>
        </div>
        <div class="col-md-2 right">
            <a class="close" href data-ng-click="$dismiss()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <div class="modal-body">
        <img data-ng-src="//image//">
        <progressbar data-ng-show="progress > 0 && progress < 100" class="progress-striped active"
                     value="progress"></progressbar>
    </div>
    <div class="modal-footer center clearfix">
        <button data-ng-click="$dismiss()" type="button" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" data-ng-disabled="image == null || image == '' || image == 'img/posts/default.svg'"
                class="btn btn-primary pull-right">Insert Image
        </button>
        <button type="button" data-ngf-select data-ngf-change="upload()" data-ng-model="files" data-ngf-multiple="false"
                class="btn btn-primary pull-right"><span class="glyphicon glyphicon-picture mR5"></span>Upload Image
        </button>
    </div>
</form>